.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
  }
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(22,34,57,0.85);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .info {
      text-align: center;
    p {
      color: white;
      font-size: 1.4rem;
      font-weight: 800;
    }
    h2 {
      font-size: 4em;
      color: white;
      font-weight: 900;
      span {
        color: #f5a425;
      }
    }
    .btn {
      color: white;
      background-color: #f5a425;
      padding: 10px 16px;
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: 600;
    }
  }
}

.cards {
  width: 100%;
  height: 0;
  // background-image: url(../img/choosing-bg.jpg);
  background-color:  #0c1228;
  @media (max-width: 1020px) {
    height: auto;
  }
  .container {
    padding: 100px 0px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: 1020px) {
      position: relative;
      gap: 0px;
      padding: 0px;
      flex-direction: column;
    }
  }
  .column-landing {
    width: 24%;
    overflow: hidden;
    height: 80px;
    padding: 4px 10px 10px 10px;
    @media(max-width: 1020px) {
     width: 43%;
    }
    &:nth-child(2) {
      position: absolute;
    bottom: 0;
    left: 10%;
    @media(max-width: 1020px) {
      position: static;
    }
    }
    &:first-child {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @media(max-width: 1020px) {
    position: static;
    transform: translateX(0%);
    }
    }
    &:last-child {
      position: absolute;
      bottom: 0;
      right: 10%;
      @media(max-width: 1020px) {
        position: static;
      }
    }
    &:hover {
      height: 280px;
      background-color: #f5a425;
    }
    @media (max-width: 1020px) {
      width: 100%;
      padding: 1px 20px;
      }
      .icon {
        &:hover {
          .column-landing {
          height: 280px;
          background-color: #f5a425;
        }}
        font-size: 30px;
        color: white;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 40px;
        h3 {
          font-size: 24px;
          margin-left: 20px;
        }
      }
      a {

      }
    background-color:#0c1228;
  }
  .text {
    margin: 0px 20px;
    p {
      font-size: 22px;
      color: white;
    }
    a {
      font-size: 22px;
      text-decoration: underline;
      color: white;
    }
  }
}

header {
  width: 100%;
  padding: 3px 15px;
  z-index: 100;
  position: fixed;
  background-color: #0c1228e2;
  .menu {
    display: none;
    width: 40px;
    height: 30px;
    position: relative;
    right: 0%;
    @media (max-width: 1073px) {
      display: block; 
      display: flex;
      align-items: center;
      span {
        &:first-child {
          position: absolute;
          top: 0;
          left: 0;
        }
        &:last-child {
          position: absolute;
          bottom: 0;
          left: 0;
        }
        width: 100%;
        background-color: white;
        height: 4px;
        border-radius: 20px;
        
      }
      &.active {
        span {
          width: 0%;
          &:first-child {
            width: 100%;
            transform: rotate(45deg) translate(10px ,10px);
          }
          &:last-child {
            width: 100%;  
            transform: rotate(-45deg) translate(10px ,-7px);
          }
        }
      }
    }
  }
  .container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
  }
  .logo {
    h3 {
      font-size: 30px;
      text-transform: uppercase;
      color: white;
      span {
        color: #f5a425;
      }
    }
  } 
  .links{ 
    display: flex;
    align-items: center;
    @media (max-width: 1073px) {
      display: none;
      background-color: red;
    }
    li {
      &:nth-child(2) {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 4px;
          height: 7px;
          background-color: white;
          right: 0;
        }
      }
      a {
        color: white;
        padding: 10px 20px;
        margin: 0px 10px;
        border: 2px solid transparent;
        font-size: 14px;
        font-weight: 800;
        &.active {
          border: 2px solid #f5a425;
        }
        &:hover {
          border: 2px solid #f5a425;
          transition: 0.3s all ease-in-out;
        }
      }
    }
  }
}
.sss {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background-image: url(../img/choosing-bg.jpg);
  object-fit: cover;
  h2 {
    margin: 0px;
  }
  .container{ 
    width: 80%;
    margin: 0px auto; 
    .change {
      width: 91%;
      margin: 0px auto;
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      height: 100%;
      color: white;
      li {
        height: 100%;
        position: relative;
        width: 30%;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        &::before {
          content: "";
          position: absolute;
          width: 10px;
          text-align: center;
          height: 10px;
          background-color: white;
          bottom: -100%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    .container {
      width: 90%;
    }
    .info {
      margin-top: 100px;
      width: 100%;
      .card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      @media (max-width: 1020px) {
        flex-direction: column-reverse;
      }
      .img {
        width: 50%;
        img {
          width: 100%;
        }
        @media (max-width: 1020px) {
          width: 75%;
        }
      }
      .text {
        @media (max-width: 1020px) {
          width: 100%;
          text-align: center;
        }
        width: 50%;
        h3 {
          color: white;
          font-size: 40px ;
          @media (max-width: 1020px) {
            font-size: 25px;
          }
        }
        p {
          @media (max-width: 1020px) {
            font-size: 18px;
          }
          font-size: 24px;
          line-height: 42.5px;
          color: rgb(239, 237, 237);
        }
      }
    }
  }
  }
}

.title {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    margin-top: 120px;
    position: relative;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 400;
    display: inline-block;
    padding: 15px 20px;
    border: 2px solid rgba(250,250,250,0.1);
    &::before {
      content: "";
      width: 2px;
      height: 120px;
      position: absolute;
      top: -234%;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(250,250,250,0.1);
    }
  }
}
